
  @import url('https://fonts.googleapis.com/css2?family=Playfair&family=Sigmar&display=swap');


p {
    font-family: 'Playfair', serif;
    text-align:center;
    background-color: rgb(166, 174, 105);
    width: 940px;
    border: 15px solid rgb(55, 128, 0);
    padding: 20px;
    margin: 50px;
  }