/*places table*/
h2 {
    margin-top: 25px;
    margin-left: 400px;
}
.places-tables-section{
    padding:20px;
    background-color: rgb(201, 228, 190);
    background-image: url('R.png');
    background:cover;
    backface-visibility: hidden ;
    background-repeat:no-repeat
}

.places-table-content{
    max-width: 600px;
    background-color: rgb(38, 30, 30);
    margin-left: 380px;
    margin-top: 50px;
    text-align: center;
    margin-right: 380px;
    background: transparent;
    
}
.places-table th ,.places-table td {
    padding: 15px;

}  
.places-table{
    width:300px
}
.places-table th {
   background-color: white;
   
}
.places-table tr:nth-child(odd) {
    background-color: rgb(172, 235, 239);
}
.places-table tr:nth-child(even){
    background-color: rgb(143, 216, 148);
}
.places-table tr a{
    color: white;
    text-decoration:none;
    background-color: green;
    padding: 5px 10px;
}
.places-table tr:not(:first-child):hover{
    transform: scale(1.1);
    transform: ease;
}
.places-table{
    border-collapse: collapse;
    filter: drop-shadow(-20px -10px 50px);
}
