/*places table*/

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

h2 {
    margin-top:-40px;
    margin-left: 100px;
    color: rgb(230, 184, 46);
    font-family: 'Sigmar', cursive;
    text-decoration:underline;
    padding-top: 10px;
    font-size: 45px;
    
    
}
.places-tables-section{
    background-color:rgb(228, 212, 183);
    padding:100px;
    background-image: url("MONSOONPHOTOFINAL/photos/MONSONSEASOM.jpg");
    background:cover;
    background-position: center;
    backface-visibility: hidden ;
    
}

.places-table-content{
    max-width: 600Px;
    background-color: rgb(38, 30, 30);
    margin-left: 100px;
    margin-top:-10px;
    text-align: center;
    margin-right:100px;
   
}
.places-table th ,.places-table td {
    padding: 15px;

}  
.places-table{
    width:700px;
    margin-right:100px;
    
    
}
.places-table th {
   background-color: rgb(194, 200, 202);
   
}
.places-table tr:nth-child(odd) {
    background-color: rgb(86, 189, 146);
}
.places-table tr:nth-child(even){
    background-color: rgb(74, 188, 209);
}
.places-table tr a{
    color: white;
    text-decoration:none;
    background-color: rgb(80, 18, 111);
    padding:5% 5%;
}
.places-table tr:not(:first-child):hover{
    transform: scale(1.1);
    transform: ease;
}
.places-table{
    border-collapse: collapse;
    filter: drop-shadow(-20px -10px 50px);
}
