/*places table*/

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Josefin+Sans&display=swap');


h2 {
    margin-top:-50px;
    margin-left: 160px;
    color: rgb(249, 245, 247);
    font-family: 'Dongle', sans-serif;
    text-decoration:underline;
    padding-top: 10px;
    font-size: 65px;
    
}
    

.places-tables-section{
    background-color:rgb(228, 212, 183);
    padding:100px;
    background-image: url("summer1west.jpg");
    background:cover;
    background-position: center;  
}

.places-table-content{
    max-width: 500px;
    background-color: rgb(38, 30, 30);
    margin-left: 150px;
    margin-top: 50px;
    text-align: center;
    margin-right:80px;
   
}
.places-table th ,.places-table td {
    padding: 15px;

}  
.places-table{
    width:600px;
    margin-right:50px;
    
    
}
.places-table th {
   background-color: rgb(229, 231, 181);
   
}
.places-table tr:nth-child(odd) {
    background-color: rgb(153, 166, 218);
}
.places-table tr:nth-child(even){
    background-color: rgb(241, 185, 143);
}
.places-table tr a{
    color: white;
    text-decoration:none;
    background-color: green;
    padding:3% 3%;
}
.places-table tr:not(:first-child):hover{
    transform: scale(1.1);
    transform: ease;
}
.places-table{
    border-collapse: collapse;
    filter: drop-shadow(-20px -10px 50px);
}
